@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



html{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body{
    text-align: center; /* Deixa o texto centralizado */
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: orange;
}

.links_sup{

    color: black;
    position: relative;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    line-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

}

.Apresent{
    height: 400px;
    line-height: 15px;
    text-align: center;

    font-size: 50px;
}


.Sociais{
    max-width: 50px;
    height: 50px;

    padding: 10px;
    border-radius: 3px;
}

#Inicio{
    height: 300px;
    padding: 75px;
    font-size: 50px;
}

#Sobre{
    margin: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 200px;
}

.Sobre-titulo{
    font-weight: bold;
    font-size: 30px;
    height: 5px;
}

.Sobre-desc{
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Ling{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.lingContainer{
    width: 500px;
    display: flex;
    justify-content: space-around; /* Espaço entre os elementos */
    align-items: center; /* Centraliza verticalmente os itens */
    padding: 20px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */  
}

.item:hover{
    background-color: orange;
}

.text {
    color: white; /* Cor do texto */
    margin: 0; /* Remove margens padrão */
    font-size: 14px; /* Tamanho do texto */
}

.item {
    display: flex; /* Ativa o flexbox dentro do item */
    width: 80px;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    background-color: black; /* Cor de fundo */
    flex-direction: column; /* Coloca imagem e texto em coluna */
    align-items: center; /* Centraliza imagem e texto */
    position: relative;
}

#Projeto{
    margin: 10px;
    padding: 10px;
}

/* Configura o container do projeto */
.projetoContainer {
    margin: 10px;
    width: 1000px;
    display: flex; /* Coloca imagem e texto lado a lado */
    align-items: flex-start; /* Centraliza verticalmente */
    gap: 20px; /* Espaçamento entre a imagem e o texto */
    margin-left: 20%;
}

/* Estilo da imagem */
.Thumb img {
    max-width: 300px; /* Define largura máxima para a imagem */
    height: auto; /* Mantém a proporção */
    display: block; /* Remove possíveis espaços extras ao redor da imagem */
    border-radius: 10px;
}

/* Estilo do texto */
.TextProjeto {
    flex: 1; /* Faz o texto ocupar o espaço restante */
    text-align: justify; /* Justifica o texto */
    font-size: 20px;
}

.titulo-projetos{
    font-size: 40px;
}

.Titulo{
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

#Contato{
    margin: 10px;
}

footer{
    margin: 20px;
}

.Rodape{
    display: flex;
    justify-content: center;
    align-items: center;

}

.link_inf{
    justify-content: left;
}

h3{
    font-weight: normal;
}

.swiper {
    width: 600px;
    height: 300px;
  }



